<!doctype html>

<html class="no-js" lang="">


<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ClassConnect</title>
<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/flexslider.css">
<link rel="stylesheet" href="../static/css/jquery.fancybox.css">
<link rel="stylesheet" href="../static/css/main.css">
<link rel="stylesheet" href="../static/css/responsive.css">
<link rel="stylesheet" href="../static/css/font-icon.css">
<link rel="stylesheet" href="../static/css/animate.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="index.html">ClassConnect</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
		  <li><a href="login.html" >Login</a></li>
          <li><a href="#intro" >About</a></li>
          <li><a href="#teams" >Our Team</a></li>
          <li><a href="#contact">Contact</a></li>
		  <li><a href="#download">Download</a></li>
        </ul>
      </nav>

  </header>
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>ClassConnect</h1>
        <a href="#intro" class="btn btn-large">Find out more</a>

		
	</div>
      <!-- banner text --> 
    </div>
  </div>
</section>
<!-- header section --> 

<!-- intro section -->
<section id="intro" class="section intro">
	<div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
		<h3>We've got what you need!</h3>
		<p>ClassConnect is a cloud based application that integrates various technologies into a classroom setting. ClassConnect includes functionalities like a clicker or a poll based survey that are used for fast and dependable response systems. The difference from other clicker technologies is that ClassConnect will incorporate an analytics tool for real-time feedback of the information presented in a classroom.</p>
	</div>
	</div>
</section>
<!-- intro section -->

<!-- download section --> 
<section id="download" class="section download">
	<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
		<div class="dow"><img src="" alt="" class=""img-responsive">
		<h4>Download the new verson of Class Connect</h4>
		</div>
		</div>
	</div>
	</div>
</section>
<!-- download section -->

<!-- our team section -->
<section id="teams" class="section teams">
	<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-6">
				<div class="person"><img src="../static/images/Sal.jpg" alt="" class="img-responsive">
				<div class="person">
				<h4>Salvdor Perez</h4>
				<h5 class="role">Full Stack Engineer</h5>
				<p>.........................</p>
			</div>
			<ul class="social-icons clearfix">
				<li><a href="#"><span class="fa fa-facebook"></span></a></li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
			</ul>
        </div>
	</div>
    <div class="col-md-4 col-sm-6">
        <div class="person"> <img src="" alt="" class="img-responsive">
			<div class="person-content">
				<h4>Weston Cannon</h4>
				<h5 class="role">Network Engineer</h5>
				<p>..................</p>
			</div>
			<ul class="social-icons clearfix">
				<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			</ul>
		</div>
      </div>
	<div class="col-md-4 col-sm-6">
		<div class="person"> <img src="" alt="" class="img-responsive">
			<div class="person-content">
				<h4>Arash Z</h4>
				<h5 class="role">Front-end Developer</h5>
				<p>....................</p>
			</div>
			<ul class="social-icons clearfix">
				<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			</ul>
        </div>
    </div>
	</div>
	</br>
	 
	<div class="row">
	<div class="col-md-4 col-sm-6">
        <div class="person"> <img src="" alt="" class="img-responsive">
			<div class="person-content">
				<h4>Danish Ali Noorani</h4>
				<h5 class="role">Front End Web Developer & Graphic Designer</h5>
				<p>.......................</p>
			</div>
			<ul class="social-icons clearfix">
				<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			</ul>
        </div>
    </div>
	<div class="col-md-4 col-sm-6">
        <div class="person"> <img src="../static/images/Eric.png" alt="" class="img-responsive">
			<div class="person-content">
				<h4>Eric Le</h4>
				<h5 class="role">Network Engineer</h5>
				<p>...........Handsome............</p>
			</div>
			<ul class="social-icons clearfix">
				<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			</ul>
		</div>
    </div>
	<div class="col-md-4 col-sm-6">
        <div class="person"> <img src="" alt="" class="img-responsive">
			<div class="person-content">
				<h4>Nathan Knadouw</h4>
				<h5 class="role">Project Manager & Technical Writter</h5>
				<p>.......................</p>
        </div>
			<ul class="social-icons clearfix">
				<li><a href="#" class=""><span class="fa fa-facebook"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-twitter"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-linkedin"></span></a></li>
				<li><a href="#" class=""><span class="fa fa-google-plus"></span></a></li>
			</ul>
        </div>
    </div>
    </div>
	</div>
</section>
<!-- our team section --> 

<!-- contact section -->
<section id="contact" class="section">
	<div class="container">
    <div class="row">
		<div class="col-md-8 col-md-offset-2 conForm">
			<h5>Feel free to contract us</h5>
			<p>We are happy to connect with you.</p>
			<div id="message"></div>
				<form method="post" action="php/contact.php" name="cform" id="cform">
				<input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your name..." >
				<input name="email" id="email" type="email" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="Email Address..." >
				<textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Contract Us ...."></textarea>
				<input type="submit" id="submit" name="send" class="submitBnt" value="Send your mail">
			<div id="simple-msg"></div>
			</form>
		</div>
    </div>
	</div>
</section>
<!-- contact section --> 

<!-- Footer section -->
<footer class="footer">
	<div class="footer-top section">
    <div class="container">
	<div class="row">
        <div class="footer-col col-md-6">
			<h5>Our Office Location</h5>
			<p>
			<ul>
				<li>Matador Bookstore Complex, 18111 Nordhoff St,</li>
				<li>Northridge, CA 91330</li>
				<li>support@classconnect.com</li>
			</ul>
			</p>
        </div>
		
		
        <div class="footer-col col-md-3">
			<h5>Services We Offer</h5>
			<p>
			<ul>
				<li><a href="#download">Download</a></li>
				<li><a href="#">Document</a></li>
				<li><a href="#">Videography</a></li>
				<li><a href="#">Social Media</a></li>
				<li><a href="#">User Experience</a></li>
			</ul>
			</p>
        </div>
        <div class="footer-col col-md-3">
			<h5>Share with Love</h5>
			<ul class="footer-share">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			</ul>
        </div>
    </div>
    </div>
	</div>
<!-- footer top --> 
  
</footer>
<!-- Footer section --> 
<!-- JS FILES --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script> 
<script src="js/jquery.fancybox.pack.js"></script> 
<script src="js/retina.min.js"></script> 
<script src="js/modernizr.js"></script> 
<script src="js/main.js"></script> 
<script type="text/javascript" src="js/jquery.contact.js"></script>
</body>
</html>